<article class="main">
  <div class="container container-search-block">
    <div class="search-block">
      <form class="search-form" id="search-form">
        <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="gallery">
      <!-- Карточки изображений -->
    </div>
    <div class="container-button">
      <button type="button" class="load-more visually-hidden">Load more</button>
    </div>
  </div>
</article>
